/* CSS TABLE OF CONTENTS 

  # TYPOGRAPHY
    # BODY
    # PARAGRAPH
    # LINKS
    # HEADINGS
  # STRUCTURE
    # HEADER
    # FOOTER
    # NAV

*/

body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 87.5%; /* 14px */
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

p {
  max-width: 35em;
}

a {
  color: rgba(0, 51, 102, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 51, 102, 1);
}

h1 {
  font-size: 3em;
}

/* HELPER CLASSES */
.text-centered {
  text-align: center;
}

/* LAYOUT */

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* STRUCTURE */

.site-header,
.site-footer {
  text-align: center;
  margin: 1em 0;
  padding-bottom: 1em;
}

.site-header h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

.site-header h1 a {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em;
  display: inline-block;
  /* transition: .2s ease-out all; */
}

.site-header h1 a:hover {
  color: rgba(0, 0, 0, 1);
}

.site-navigation ul {
  padding: 0;
  margin: 0;
}

.site-navigation ul li {
  display: inline-block;
}

.site-navigation ul li a {
  display: block;
  padding: 1em 0.5em;
  margin: 0 0.5em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  /* transition: .2s ease-out all; */
}

.site-navigation ul li a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 1);
}

.site-navigation ul li a.selected {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/* MEDIA */
img {
  max-width: 100%;
  height: auto;
}

/* THUMBGRID */

.thumbgrid {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbgrid li {
  list-style: none;
  width: 49%;
  margin-bottom: 0.8%;
  /* transition: 0.4s ease-out all; */
  overflow: hidden;
}

@media (min-width: 768px) {
  .thumbgrid li {
    width: 24%;
  }
}

.thumbgrid li a {
  display: block;
  transition: 0.2s ease-out all;
  width: 100%;
  margin: 0;
  position: relative;
}

.thumbgrid li a:hover {
  width: 106%;
  margin: -3%;
}
.thumbgrid li a::after {
  display: block;
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.4s ease-out all;
}

.thumbgrid li a:hover::after {
  opacity: 0.1;
}

.thumbgrid li a img {
  display: block;
}

/* BUTTONS */
.button {
  display: inline-block;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 1em;
  border: 1px solid rgba(0, 51, 102, 1);
  color: rgba(0, 51, 102, 1);
  /* transition: all .4s ease-out; */
}

.button:hover {
  background: rgba(0, 51, 102, 1);
  color: rgba(255, 255, 255, 1);
}

/* SECTIONS */

.hero {
  padding: 6em 1em;
  text-align: center;
}

.hero h1 {
  max-width: 13em;
  margin: 0 auto 1em auto;
}

.hero p {
  margin: 0 auto 1em auto;
}

/* ANIMATIONS */

.hero,
.hero * {
  animation-name: myheroanimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero h1 {
  animation-delay: 0;
}
.hero p {
  animation-delay: 0.25s;
}
.hero a {
  animation-delay: 0.5s;
}

@keyframes myheroanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-home .site-header {
  animation-name: myheaderanimation;
  animation-duration: 1s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes myheaderanimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page-home .site-footer {
  animation-name: myfooteranimation;
  animation-duration: 1s;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes myfooteranimation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.page-work .thumbgrid li {
  animation-name: mythumbgridgrow;
  animation-duration: 1s;
  animation-delay: 0;
  opacity: 0;
  animation-fill-mode: forwards;
}
.page-work .thumbgrid li:nth-child(1) {
  animation-delay: 0;
}
.page-work .thumbgrid li:nth-child(2) {
  animation-delay: 0.2s;
}
.page-work .thumbgrid li:nth-child(3) {
  animation-delay: 0.4s;
}
.page-work .thumbgrid li:nth-child(4) {
  animation-delay: 0.6s;
}
.page-work .thumbgrid li:nth-child(5) {
  animation-delay: 0.8s;
}
.page-work .thumbgrid li:nth-child(6) {
  animation-delay: 1s;
}
.page-work .thumbgrid li:nth-child(7) {
  animation-delay: 1.2s;
}
.page-work .thumbgrid li:nth-child(8) {
  animation-delay: 1.4s;
}

@keyframes mythumbgridgrow {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* PROJECT DETAIL PAGES */

section {
  padding: 5em 2em;
}

.dark {
  background: #000;
  color: #fff;
}

.page-projectdetail {
  max-width: none;
  margin: 0;
  padding: 0;
}

.page-projectdetail .hero {
  background: #dedede;
}

.projectinfo {
  text-align: center;
}

.headline {
  font-size: 4em;
}

.subheadline {
  font-size: 2em;
  margin-bottom: 1.5em;
  color: rgba(0,0,0,.5);
  font-weight: 40normal0;
}

.projectinfo p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.subcontent-text {
  padding: 2em;
}

.subcontent-text h3 {
  font-size: 1.75em;
}

@media (min-width: 768px){

  .projectinfo p {
    columns: 2;
  }

  .two-col .container {
    display: flex;
    align-items: center;
  }

  .two-col .subcontent-image,
  .two-col .subcontent-text {
    width: 50%;
  }

  .col-imagesmaller .container {
    display: flex;
    align-items: center;
  }

  .col-imagesmaller .subcontent-image {
    width: 33.3333%;
  }

  .col-imagesmaller .subcontent-text {
    width: 66.6666%;
  }

  .flippit .container {
    flex-direction: row-reverse;
  }
}
